<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or sitedata.title }}</title>
    <meta name="description" content="{{ description or sitedata.description }}">
</head>
<body>
    {% include "../components/header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "../components/footer.njk" %}
    
</body>
</html>
