---
layout: page.njk
pagination:
    data: collections.posts
    size: 3
    alias: posts
    reverse: true
eleventyNavigation:
    key: Home
    order: 0
---


<h1>Welcome!</h1>

<!--
{% for post in collections.posts %}
    {{ post.data.title }}
{% endfor %}
-->

<!--
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
-->

  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span>
    </div>
  </div>

{% include "partials/postslist.njk" %}

<div class="pagination">
    {% if pagination.previous %}
    <span>
        <a href="{{ pagination.href.previous | url }}" class="pagination__prev">&larr; Older Articles</a>
    </span>
    {% else %}
    <span class="pagination__item">&larr; Older Articles</span>
    {% endif %}
    {% if pagination.next %}
    <span>
        <a href="{{ pagination.href.next | url }}" class="pagination__next">Newer Articles &rarr;</a>
    </span>
    {% else %}
    <span class="pagination__item">Newer Articles &rarr;</span>
    {% endif %}
</div>
